@import "bootstrap-sprockets";
@import "bootstrap";
@import "materialize";

.resizeLogo {
  height: 100px;
}

.nav-wrapper {
  height: 550px;
  background-image: url('/assets/bckgd.gif');
}

nav {
    height: 300px;
    line-height: 300px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 300px;
    line-height: 300px;
}

nav .button-collapse i {
    height: 300px;
    line-height: 300px;
}

nav .brand-logo {
    font-size: 1.6rem;
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 300px;
        line-height: 300px;
    }
}

body {

}

.resizeImg {
  width: 350px;
}

.thumbnails {
  width: 100px;
}

.container {
  margin-top: 100px;
  background-color: white;
  border-style: ridge;
  border-color: inherit;
}
