
<% content_for(:title, "Home") %>
  <h5>Welcome to the Land of the Gummies Administator section. You can view each of your products in the display below. Click here to <a href="/products/new">create a new product</a>.</h5>

<h1 style="text-align: center;">Products</h1>

<% if @products.any? %>
    <div class="row">

      <% @products.each do |product| %>
      <div class="col m4">
        <div class="card">
          <div class="card-image">
            <%= image_tag product.image, class: "thumbnails"%>
          </div>
          <div class="card-content center">
            <%= link_to product.name, product_path(product) %>
          </div>
        </div>
      </div>
  <% end %>
</ul>
<% else %>
  <p style="text-align: center;">You don't have any products listed yet!</p>
<% end %>
